/* GENERAL STLYING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "gunship";
  src: url(../fonts/gunshipboldital.ttf);
}

.gunship-font {
  font-family: "gunship";
  color: #ea526f;
  font-size: 20px;
}

.lg-font {
  font-size: 30px;
}

li {
  list-style-type: none;
}

.bg-red {
  background-color: #ea526f;
}
.white-font {
  color: white;
}

.btn {
  background-color: bg-light;
}

h5 {
  color: #ea526f;
  padding-left: 140px;
}

/* HEADER-NAVBAR STYLING */

.navbar-brand {
  margin-left: 75px;
}

.header-img {
  position: absolute;
  margin-left: 20px;
  width: 40px;
}

.search-input {
  margin-right: 50px;
}

.container-fluid .search-input {
  width: 15%;
  position: relative;
}

.search-input .icon {
  display: none;
  line-height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  color: #ea526f;
  cursor: pointer;
}

/* SIDEBAR STYLING */

.sidebar h3 {
  color: white;
}

.sidebar ul li {
  margin: 40px 0px 40px;
  position: relative;
}

.sidebar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #ea526f;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 1s;
}

.sidebar ul li:hover::after {
  width: 60%;
}

a {
  color: #ea526f;
}
a:hover {
  color: aliceblue !important;
  cursor: pointer;
}

/* MODAL STYLING */

/* The Modal (background) */
.my-modal {
  display: block; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 25%;
  top: 10%;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.myModal-header {
  padding: 10px 16px;
  background-color: #fbfbfb;
  color: #ea526f;
}

/* Modal Body */
.myModal-body {
  padding: 2px 16px;
}

.myModal-content {
  background-color: black;
  color: aliceblue;
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.myModal-content a {
  color: #ea526f;
}

/* MEDIA QUERIES FOR HEADER NAVBAR */

@media (max-width: 481px) {
  .navbar-brand {
    margin-left: 0px;
    font-size: 27px;
  }
}

@media (max-width: 481px) {
  --mdb-navbar-brand-hover-color {
    color: white !important;
  }
}

@media (max-width: 481px) {
  .container-fluid .header-img {
    display: none;
  }
}

@media (max-width: 481px) {
  .container-fluid .search-input {
    width: 100%;
    margin-left: 25px;
  }
}

@media (max-width: 481px) {
  .container-fluid .header-img {
    display: none;
  }
}
